<?xml version="1.0" encoding="utf-8"?>
<!-- Define la versión de XML y la codificación de caracteres a utilizar (UTF-8) -->

<!-- Declara el espacio de nombres XML para los atributos estándar de Android y herramientas adicionales del IDE -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Solicita permiso para acceder a Internet (necesario para Coil al cargar imágenes remotas) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Inicia la definición de la aplicación Android y su configuración global -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        
        <!-- Declara el componente de actividad (pantalla visible de la app) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <!-- Indica que esta actividad es el punto de inicio principal de la aplicación -->
                <action android:name="android.intent.action.MAIN" />

                <!-- Coloca el icono de la aplicación en el menú principal/lanzador del teléfono móvil -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
